.icon-err {
	background:#f60;
	color:black;
	border-radius:50%;
	line-height:5px;
	border: 1px solid #666;
}
.icon-warn {
	background:orange;
	color:black;
	border-radius:50%;
	line-height:5px;
	border: 1px solid #666;
}
IMG {
	vertical-align:middle;
	border:0;
}
.leaflet-popup-content-wrapper {
	border-radius: 5px;
}
.leaflet-popup-content {
	margin: 8px 25px 8px 8px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 400px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info-colour {
	display:inline-block; 
	width:10px; 
	height:10px; 
	vertical-align:middle; 
	overflow:hidden;
	border:1px solid black;
	border-radius: 6px;
}
P {
	margin:0;
	line-height:1.5;
}