IMG {
	vertical-align:middle;
	border:0;
}
TR.clr {
	background: #eaeaea
}
TR.err {
	background: #fcc
}
TR.warn {
	background: #ffa
}
TD {
    font: 13px/16px tahoma, Arial, Helvetica, sans-serif;
	padding: 0px 7px
}
BODY {
    font: 14px/16px tahoma, Arial, Helvetica, sans-serif;
	background: #f5f5f5;
}
A{
	text-decoration: none;
}
A:hover {
    text-decoration: underline;
}
A:visited { 
	color: mediumblue; 
}
.description {
	border: 1px solid #e9e8e8;
	background: #f5f6f8;
	padding: 10px;
	border-radius: 3px;
	display: inline-block;
	width: auto;
}
.warn {
	background: #f5f6e8;
}
.countup {
    color: #FF7D7D;
}
.countdown {
    color: #7BB071;
	font-size: 88%;
}