.icon {
	border-radius: 50%;
	line-height: 5px;
	border: 1px solid #666;
}
.icon-level0 {
	background: #f60;
}
.icon-level1 {
	background: #fff;
}
.icon-level2 {
	background: #ee8;
}
.icon-level3 {
	background: #fff;
}
.icon-level4 {
	background: #fff;
}
.icon-level5 {
	background: orange;
}
.icon-level6 {
	background: #fff;
}
.icon-level7 {
	background: #fff;
}
.icon-level8 {
	background: #fff;
}
.icon-level9 {
	background: #fff;
}

.icon-err {
	background:#f60;
	color:black;
	border-radius:50%;
	line-height:5px;
	border: 1px solid #666;
}
.icon-warn {
	background:orange;
	color:black;
	border-radius:50%;
	line-height:5px;
	border: 1px solid #666;
}
IMG {
	vertical-align:middle;
	border:0;
}
A{
	text-decoration: none;
}
A:hover {
    text-decoration: underline;
}
.leaflet-popup-content-wrapper {
	border-radius: 5px;
}
.leaflet-popup-content {
	margin: 8px 25px 8px 8px;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 400px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.info-colour {
	display:inline-block; 
	width:10px; 
	height:10px; 
	vertical-align:middle; 
	overflow:hidden;
	border:1px solid black;
	border-radius: 6px;
}
P {
	margin:0;
	line-height:1.5;
}
.popup {
	text-align: center;
}
.popup-link {
	font-size: 14px;
	margin-top: 7px;
}
.popup-description {
	margin-top: 7px;
}